/* copa america */

section{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid grey;
    border-radius: 10px;
    
}
.amr{
    background-color:darkblue;
}
h1{
    font-size: 30px;
    color: whitesmoke ;
    padding: 15px;
}
.link-button{
    text-decoration: none;
    background-color:rgb(216, 29, 29);
    padding: 5%;
   
}

.yy img{
    padding: 20px;
    width: 60%;
    height: 60%;
}
/* players */

.bangladesh{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2%;
    box-shadow: 4px 4px 4px 4px gray;

}
.players{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;

}
.player-title img{
    width: 224px;
    height: 104px;
}
/* players2 */
 .bangladesh2{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2%;
    box-shadow: 4px 4px 4px 4px gray;

}  
.bangladesh3{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2%;
    box-shadow: 4px 4px 4px 4px gray;
}
 
/* highlight */
.highilight2{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2%;
    box-shadow: 3px 3px 3px gray;
}
.copa img{
    padding: 20px;
    width: 60%;
    height: 60%;
}
h2{
    padding: 15px;
}

.oo{
    text-align: center;
    font-size: 200%;
    color: indigo;
}
/* media queries 
---------------*/


/* mobile device
-------------- */
@media only screen and (max-width:688px){
   .amr{
    width: 100%;
   }
   .blog{
       display: none;
   }
   .bangladesh{
       background-color: lightcoral;
       grid-template-columns: repeat(1, 1fr);
       width: 80%;
   }
   .bangladesh2{
       grid-template-columns: repeat(1, 1fr);
       width: 80%;
   }
   .bangladesh3{
       grid-template-columns: repeat(1, 1fr);
       width: 80%;
   }
}
