/* copa america */
main{
    height: auto;
}
section{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid grey;
    border-radius: 10px;
    
}
.amr{
    background-color:darkblue;
}
h1{
    font-size: 30px;
    color: whitesmoke ;
    padding: 20px;
}
.link-button{
    text-decoration: none;
    background-color:rgb(216, 29, 29);
    padding: 5%;
   
}

.yy img{
    padding: 20px;
    width: 60%;
    height: 60%;
}
/* players */

.players{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;

}
.player-title img{
    width: 224px;
    height: 104px;
}
/* highlight */
.copa img{
    padding: 20px;
    width: 60%;
    height: 60%;
}
h2{
    padding: 20px;
}
.link-button{
 padding: 20px;
}
